@model Core.Models.Classes.Leg

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Leg</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fixture.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fixture.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
