@using Core.Models.Classes
@model IEnumerable<Core.Models.Classes.Division>

@{
    Layout = "~/Views/Shared/_Default.cshtml";
}

@section Title
{
    Division
}

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#">Summer 2014</a></li>
            <li class="active">Division Selector</li>
        </ol>
    </div>
</div>
<div class="row">
    @foreach (Division division in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://www.u3ajavea.org/Activity-Groups/Snooker/images/snooker.jpg" alt="@division.Name">
                <div class="caption">
                    <h3>@division.Name</h3>
                    <p>@division.ParticipationType @division.CompetitionFormat <span class="label label-default">@division.Sport</span></p>
                    <p>
                        <a href="@Url.Action("Details", "Division", new { id = division.Id })" class="btn btn-primary" role="button">View</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>